{% if page.home-hero %}
<div class="hero main-header" style="background-image: url({{ page.home-hero }})">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title"><span class="light">//</span>FlashFeed<span class="light">.co</span></h1>
            <h4 class="page-description">Nutella, Vegemite and Peanut Butter.</h4>
        </div>
    </div>
</div>
{% endif %} {% if page.hero %}
<div class="hero" style="background-image: url({{ page.hero }})">
</div>
{% endif %}