.vertical {
    display: table-cell;
    vertical-align: middle;
}

.main-header .inner {
    width: 80%;
}

.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto;
}

.home .page-title {
    color: #fff;
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.page-title {
    margin: -80px 0 10px 0;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 700;
}

.home .page-description {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.page-description {
    margin: 0;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 0.01rem;
}